<div>
	<h1>Welcome to Lunchd.com!</h1>
		<p>Ever run into that problem where a bunch of you want to go out to eat, but you can't decide where to go?</p>
		<p>Lunchd.com to the rescue!  You tell us where you are and we show you what's around and give you a link to share.</p>
		<p>Check out your options, vote on what you like, and by the time lunch rolls around you'll know where to go.</p>		
</div>