/* CSS */

/* header color: #8F2000 */
/* body color: #671700 */
/* error color: #BC5F44 */
/* link hover: #BC4726 */
/* dark brown: #722B17 */

/* general */

body {
	margin:50px 0px; padding:0px;
	text-align:left;
	font-family: "Tahoma";
    line-height: 20px;
    background-color: black;
    color: white;
}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}

/* default headings */

h1 {font-size: 200%; color: white; padding-left: 40px;}
h2 {font-size: 150%; color: #BC5F44;}
h3 {font-size: 100%; color: #BC5F44;}

/* link behavior */

a:link { color: #8F2000;} /* unvisited link */
a:visited { color: #BC5F44;} /* visited link */
a:hover {color: #BC5F44; background-color: #BC4726;} /* mouse over link */
a:active {color: #BC5F44; background-color: #BC4726;} /* selected link*/	

/* Border Color / Style */

.footer{
	text-align: center;	
}

.clearBoth{
	clear: both;
}

/* New Event Page */

.newEventHeader { 
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: #722B17;
	
	margin: 4px; 
	height: 70px;   
	padding: 4px; 
	
	/* gradient */
	background: #8F2000; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8F2000', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#8F2000), to(#000)); /* for webkit browsers */
	background: -moz-linear-gradient(left,  #8F2000,  #000); /* for firefox 3.6+ */
	
}

.newEventBody {
	-moz-border-radius: 15px;
	border-radius: 15px;
	border-style: solid;
	border-width: 2px;
	border-color: #722B17;

	margin: 4px;
	padding: 20px;
	
	/* gradient */
	background: #671700; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#671700', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, right top, from(#671700), to(#000)); /* for webkit browsers */
	background: -moz-linear-gradient(left,  #671700,  #000); /* for firefox 3.6+ */
}

.newEventInfo{
	width: 400px;
	color: white;
	padding:4px;
	margin-left: 20px;
	float: left;
}

.newEventError { 
	width: 400px;
	color: #BC5F44;
	padding: 4px;
	margin-right: 20px;
	float: right;
}

.submitButton{
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size:20px;
	font-family:Tahoma,sans-serif;
	color:#8F2000;
	width:200px;
	height:35px;
	margin-top: 4px;
	background-color:#BC5F44;
	border-style:outset;
	border-color:#8F2000;
	border-width:3px;
}

.newEvent IMG { 
	float: left;
	padding: 0 5px 0 0; 
}

.newEvent .voting { 
	float: right; 
	text-align: center; 
}

.lunchOptionListing { margin: 4px; height: 130px; width: 500px; border: 1px solid gray; padding: 4px; }
.lunchOptionListing IMG { float: left; padding: 0 5px 0 0; }
.lunchOptionListing .votingSection { float: right; text-align: center; }
.lunchOptionListing .votingSection .votesFor { color: green; }
.lunchOptionListing .votingSection .votesAgainst { color: red; }
.lunchOptionListing .votingSection .total { font-weight: bold; }

.eventListing { margin: 4px; height: 130px; width: 500px; border: 1px solid gray; padding: 4px; }
.eventListing IMG { float: left; padding: 0 5px 0 0; }
.eventListing .voting { float: right; text-align: center; }








