/* CSS */

/* general */

body {
	margin: 0; 
	padding: 0;
	text-align:left;
	font-family: "Tahoma";
  line-height: 20px;
  color: black;
	
	background: #CE8683; /* for non-css3 browsers */
}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 860px;
}

.mainTop {
	background: #CE8683;
}

.mainBody {
	background: white;
}

.dividerBar{
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 860px;
	color: black;
	text-align: center;
	background: white;
}

/* default headings */

h1 {font-size: 200%; color: #670500; }
h2 {font-size: 150%; color: #131E4E; }
h3 {font-size: 100%; color: #131E4E; }

/* link behavior */

a:link { color: #8F0700; } /* unvisited link */
a:visited { color: #BC5F44; } /* visited link */
a:hover {color: #BC5F44; background-color: #BC4726; } /* mouse over link */
a:active {color: #BC5F44; background-color: #BC4726; } /* selected link*/	

/* Border Color / Style */

.footer{
	text-align: center;	
}

.clearBoth{
	clear: both;
}

/* New Event Page */

.newEventHeader { 
	height: 55px;   
	background: #BC2D26;
}

.newEventHeader H1 {
	padding: 16px 89px;
}

.newEventBody {
	background: white;

	padding: 20px;
	
	margin-left: auto;
	margin-right: auto;
	width: 819px;
}

.leftBody{
	color: 131E4E;
	padding:4px;
	float: left;
}

.leftBody .field {
	padding-bottom: 8px;
}

.rightBody{ 
	color: black;
	padding: 4px;
	float: right;	
}

.submitButton{
	font-size:20px;
	color:#8F0700;
	width:200px;
	height:35px;
	margin-top: 4px;
	background-color:#BC4A44;
	border-style:solid;
	border-color:#670500;
	border-width:1px;
}

.newEvent IMG { 
	float: left;
	padding: 0 5px 0 0; 
}

.newEvent .voting { 
	float: right; 
	text-align: center; 
}

.lunchOptionListing { 
	height: 107px; 
	width: 450px; 
	padding: 10px;  
	margin: 2px;
	border: 2px solid black;
	-moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -khtml-border-radius: 22px;
    border-radius: 22px;	
	
}

.lunchOptionListing .imageSection {
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	float: left;
}
.lunchOptionListing .imageSectionBorder {
	border:  2px solid black;
	-moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -khtml-border-radius: 22px;
    border-radius: 22px;
	float: left;
	margin: 2px;
}
.lunchOptionListing .votingSection { float: right; text-align: center; }
.lunchOptionListing .votingSection .votesFor { color: green; }
.lunchOptionListing .votingSection .votesAgainst { color: red; }
.lunchOptionListing .votingSection .total { font-weight: bold; }

.eventListing { margin: 4px; height: 130px; width: 500px; border: 1px white; padding: 4px; }
.eventListing IMG { float: left; padding: 0 5px 0 0; }
.eventListing .voting { float: right; text-align: center; }

.footer { margin-top: 25px; font-size: 10px; }

.invitation .invitationHeader { padding-bottom: 10px; }

input[type=submit] { color: #8F0700; background-color: #CE8683; border-style: round; border-color: #670500; font-size: 18px; padding: 1px; }

/** New Event Page */
.newEvent .eventName { width: 200px; }
.newEvent .yourName  { width: 208px; }
.newEvent .address   { width: 230px; }
.newEvent .zip       { width: 45px; }
.newEvent LABEL      { padding-right: 2px; }
.newEvent .city      { width: 80px; margin-right: 5px; }
.newEvent .description { width: 205px; }
.newEvent .field     { padding-bottom: 8px; }
.newEvent .createEventSubmit { margin-left: 42px; }

