/* CSS */

/* general */

body {
	margin: 20px 0px; padding:0px;
	text-align:left;
	font-family: "Tahoma";
    line-height: 20px;
    color: black;
	
	background: #CE8683; /* for non-css3 browsers */


}

.main {
	margin-left: auto;
	margin-right: auto;
	width: 940px;
}

.mainTop {
	background: #CE8683;
}

.mainBody {
	background: #EEE;
}

.dividerBar{
	height: 25px;
	margin-left: auto;
	margin-right: auto;
	width: 936px;
	color: #676500;
	text-align: center;
	
	border-style: solid;
	border-top-width: 4px;
	border-color: #EEE;
	background: #BCB926;
	

	
}

/* default headings */

h1 {font-size: 200%; color: #670500; padding-left: 70px;}
h2 {font-size: 150%; color: #131E4E;}
h3 {font-size: 100%; color: #131E4E;}

/* link behavior */

a:link { color: #8F0700;} /* unvisited link */
a:visited { color: #BC5F44;} /* visited link */
a:hover {color: #BC5F44; background-color: #BC4726;} /* mouse over link */
a:active {color: #BC5F44; background-color: #BC4726;} /* selected link*/	

/* Border Color / Style */

.footer{
	text-align: center;	
}

.clearBoth{
	clear: both;
}

/* New Event Page */

.newEventHeader { 
	
	height: 170px;   
	 
	
	background: #BC2D26;
	
	border-style: solid;
	border-width: 2px;
	border-color: #CE8683;
	border-bottom-color: #BC2D26;

	
}

.newEventBody {

	border-style: solid;
	border-width: 2px;
	border-color: #EEE;
	background: white;

	padding: 20px;
	
	/* gradient */
/*	background: #671700; /* for non-css3 browsers */
/*	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#671700', endColorstr='#000000'); /* for IE */
/*	background: -webkit-gradient(linear, left top, right top, from(#671700), to(#000)); /* for webkit browsers */
/*	background: -moz-linear-gradient(left,  #671700,  #000); /* for firefox 3.6+ */
}


.newEventInfo{
	width: 400px;
	color: 131E4E;
	padding:4px;
	margin-left: 20px;
	float: left;
	margin-right: 10px;
	
	border-right-style: dotted;
	border-right-width: 1px;
	border-right-color: #BC2D26;
}

.newEventError { 
	width: 400px;
	color: black;
	margin-left: 20px;
	padding: 4px;
	float: left;
	

}

.submitButton{

	font-size:20px;
	color:#8F0700;
	width:200px;
	height:35px;
	margin-top: 4px;
	background-color:#BC4A44;
	border-style:solid;
	border-color:#670500;
	border-width:1px;
}

.newEvent IMG { 
	float: left;
	padding: 0 5px 0 0; 
}

.newEvent .voting { 
	float: right; 
	text-align: center; 
}

.lunchOptionListing { margin: 4px; height: 130px; width: 500px; border: 1px solid gray; padding: 4px; }
.lunchOptionListing IMG { float: left; padding: 0 5px 0 0; }
.lunchOptionListing .votingSection { float: right; text-align: center; }
.lunchOptionListing .votingSection .votesFor { color: green; }
.lunchOptionListing .votingSection .votesAgainst { color: red; }
.lunchOptionListing .votingSection .total { font-weight: bold; }

.eventListing { margin: 4px; height: 130px; width: 500px; border: 1px solid gray; padding: 4px; }
.eventListing IMG { float: left; padding: 0 5px 0 0; }
.eventListing .voting { float: right; text-align: center; }








