<div class="show">
	<h1><%= @event.name %></h1>
	<div>
		People going:
		<ul>
			<% @event.people_going.each do |user| %>
				<li><%= user.name %></li>
			<% end %>
		</ul>
	</div>
	<div>
		Places to go:
		<% @event.lunch_options.each do |option| %>
			<%= render :partial => 'event_listing', :locals => { :event => option } %>
		<% end %>
	</div>
			
</div>