<div class="admin">
	
	<ul>
		<li><%= link_to 'Categories', :controller => 'admin/admin', :action => 'categories' %></li>
		<li><%= link_to 'Events', :controller => 'admin/event', :action => 'index' %></li>
	
</div>