<html>
	<head>
		<title>lunchD admin app</title>
		<style type="text/css">
			* {padding: 0px; margin: 0px; }
		</style>
	</head>
	<body>
		<div style="width: 100%; background-color: #DDD; border-bottom: 1px solid #AAA; padding: 5px;">
			lunchD <span>Admin</span>
		</div>
		<%= yield %>
		
	</body>
</html>