<html>
	<head>
		<title><%= @title ? @title : "Let's Do Lunch" %></title>
		<script type="text/javascript" src="/javascripts/application.js"     ></script>
		<script type="text/javascript" src="/javascripts/jquery-1.5.js"     ></script>
		<script type="text/javascript" src="/javascripts/standard.js"      ></script>
		<link href="/stylesheets/standard.css" rel="stylesheet" type="text/css" />	
	</head>
	<body>
		<%= yield %>
		<div class= "clearBoth"></div>
		<div class= "footer">
			&copy 2011 lunchd.com <img src="/images/Powered_By_Yelp_White.png">
		</div>
	</body>

</html>