<html>
	<head>
		<title><%= @title ? @title : "Let's Do Lunch" %></title>
		<script type="text/javascript" src="/public/javascripts/application.js"     ></script>
		<link href="/public/stylesheets/standard.css" rel="stylesheet" type="text/css" />
		
	</head>
	<body>
		<%= yield %>
	</body>
</html>